<section class="experiences">
        <div class="row ">
            <div class="col-sm-4 title">
                <i class="icon fa fa-briefcase"></i>Experiences
            </div>
            <div class="col-sm-8">
                <div class="border-line"></div>
            </div>
        </div>
        <div class="row" ng-repeat="experience in experiences">
            <div class="exp-cont">

                <div class="exp-name">{{experience.companyName}}</div>

                <div class="exp-roles row" ng-repeat="role in experience.roles">
                    <div class="row-cont col-sm-10 col-sm-offset-1 col1">
                        <div class="clearfix">
                            <div class="exp-role-designation pull-left">{{role.designation}}</div>
                            <span class="exp-role-duration pull-right"><code>{{role.periodFrom | monthYear}} - {{role.periodTo | monthYear}}</code></span>
                        </div>
                        <p class="exp-role-resp">{{role.responsibilities}}</p>
                    </div>
                </div>

                <div class="exp-awards row" ng-repeat="award in experience.awards">
                    <div class="row-cont col-sm-10 col-sm-offset-1 col1">
                        <div class="exp-award-title">{{award.title}}</div>
                        <p class="exp-role-resp">{{award.description}}</p>
                    </div>
                </div>

            </div>
        </div>
</section>
